.form__button {
  background-color: #000;
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-top: calc(18px - 13px);
  padding: 14px 0;
  text-align: center;
  width: 358px;
}

.form__button:hover {
  opacity: 0.8;
  transition: .5s;
}

@media (max-width: 767px) {
  .form__button {
    width: 238px;
    margin-top: calc(15px - 13px);
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
