.header {
  width: 880px;
  margin: 0 auto;
  padding-top: 45px;
}

.header:after {
  content: "";
  display: block;
  border: 0;
  border-bottom: 1px solid #545454;
  opacity: .7;
  margin-top: 41px;
  box-sizing: border-box;
}

@media (max-width: 1279px) {
  .header {
    padding-top: 40px;
    width: calc(100vw - 100px);
  }
}

@media (max-width: 1023px) {
  .header {
    padding-top: 35px;
    width: calc(100vw - 54px);
    border-bottom: 1px solid rgba(84,84,84,.7);
    padding: 28px 27px 31px;
  }

  .header::after {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    width: calc(100vw - 38px);
    padding-top: 28px;
  }
}
