.elements__love-button {
  background-color: transparent;
  background-image: url('../../../images/Love.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 22px;
  padding: 0;
  width: 22px;
  cursor: pointer;
}

.elements__love-button:hover {
  opacity: 0.5;
  transition: .5s;
}
