.popup__button-close {
  background-color: transparent;
  background-image: url('../../../images/Close-Icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  height: 32px;
  padding: 0;
  position: absolute;
  right: calc(-32px - 8px);
  top: calc(-32px - 8px);
  width: 32px;
  cursor: pointer;
}

.popup__button-close:hover {
  opacity: 0.8;
  transition: .5s;
}

@media (max-width: 767px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0px;
    top: calc(-20px - 16px);
  }
}
