.elements__cards {
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  margin: 0 auto;
  padding-inline: 0;
  list-style-type: none;
  margin-block: 0;
}

@media (max-width: 1023px) {
  .elements__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 590px;
  }
}


@media (max-width: 660px) {
  .elements__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
